<div>
  <form name="search-form">
    <div class="input-group">
      <input type="Search" placeholder="Rechercher..." class="form-control" id="search-field"/>
      <div class="input-group-btn">
        <button class="btn btn-default" id="search-button" type="submit">
          <i class="glyphicon glyphicon-search"></i>
        </button>
      </div>
    </div>
  </form>
  <a class="refineSearch" data-type="artists">Artistes</a>
  <a class="refineSearch" data-type="albums">Albums</a>
  <a class="refineSearch" data-type="tracks">Chansons</a>
  <a class="refineSearch" data-type="users">Utilisateurs</a>
  <a class="active" data-type="all">Tout</a>
</div>
<div id="search-results"></div>
